{% extends "base.html.twig" %}

{% block body %}
	<!-- ======= Hero Section ======= -->
	<section id="hero" class="d-flex align-items-center">
		<div class="container" data-aos="zoom-out" data-aos-delay="100">
			<div style="margin-top:2em;margin-left:350px;">
				<h1>Agence
					<span>TahiryM.</span>
				</h1>
				<h2>une agence immobilière</h2>
			</div>
			<div class="row flex" style="margin-top:3em;">
				<h2 class=" fw-bolder">Les derniers biens</h2>
				{% for property in properties %}
					<div class="col-3">
						<div class="card">
							{% if property.filename %}
								<img src="{{ vich_uploader_asset(property,'imageFile') | imagine_filter('thumb') }}" alt="card-img-top">
							{% else %}
								<img src="{{ '/images/properties/blog-recent-posts-4.jpg' | imagine_filter('thumb') }}" alt="card-img-top">
							{% endif %}
							<div class="card-body">
								<h5 class="card-title fw-bolder">
									<a href="{{ path('property.show', {id: property.id, slug: property.slug }) }}">{{ property.title }}</a>
								</h5>
								<p class="card-text">{{ property.city }}
									({{ property.codepostal }})</p>
								<div class="text-primary" style="font-weight:bold; font: size 2rem;">{{ property.price |number_format(0, '', ' ') }}$</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- End Hero -->

{% endblock %}
